USE [master]
GO
/****** Object:  Database [Serprofing]    Script Date: 7/13/2018 11:07:25 AM ******/
CREATE DATABASE [Serprofing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Serprofing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Serprofing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Serprofing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Serprofing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Serprofing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Serprofing]
GO
USE [Serprofing]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 7/13/2018 11:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[dui] [int] NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [int] NULL,
	[fechaIngreso] [date] NULL,
	[activo] [int] NULL,
	[idOficina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficina]    Script Date: 7/13/2018 11:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficina](
	[idOficina] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[telefono] [int] NULL,
	[direccion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([idOficina])
REFERENCES [dbo].[Oficina] ([idOficina])
GO
USE [master]
GO
