@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido!</h1>
    <p class="lead">Este es una pequeña prueba de un sistema de gestion de empleados de la empresa Serprofing SA. de CV.</p>
    <hr class="my-4">
    <p>Para comenzar debe registrar una oficina o empleado, puede hacerlo dando click en uno de los siguientes botones:</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="@Url.Action("Index","Oficina")" role="button">Oficina</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Empleado")" role="button">Empleado</a>
    </p>
</div>